snippet snt "my local snippet test"
 # "this is snt"
endsnippet

snippet mco
	$db = new mysqli('${1:localhost}', '${2:user}', '${3:password}', '${4:database}');
	if ($db->connect_error) {
		die('Unable to correct (' . $db->connect_errno . ') ' . $db->connect_error);
	}
endsnippet

