snippet file "doc comment" b
<?php
/**
 * SHORT DESCRIPTION HERE 
 *
 * LONG DESCRIPTION HERE
 * 
 * PHP Version 7  
 *
 * @File      FILENAME
 * @category  CATEGORYNAME
 * @package   PACKAGENAME
 * @author    Stephen Wardill <s5n.wardill@gmail.com>
 * @copyright 2016 Stephen Wardill
 * @license   https://www.gnu.org/licenses/gpl.txt GPL 3.1
 * @link      https://github.com/paleo9
 */

namespace Paleo9;


endsnippet
